@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

@font-face {
    font-family: "rz-regular";
    src: url('/static/fonts/rz-regular.woff2')format('woff2');
}


*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: Poppins;
    transition: .3s;
}


a:hover{
	color: #60CCFF;
}

/* Sign In Form */


.sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    font-family:  "rz-regular";
    border-radius: 7.5px;
    border: 2px solid black;
    width: 500px;
    height: 400px;
    /* This is all the non modal stuff */
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.sign-in.active {
    top: 20%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.wrapper.blur {
    filter: blur(5px);
}

.sign-in .x {
    font-size: 35px;
    color: black;
}

form{
	width: 360px;
}

.sign-in h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.sign-in .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.sign-in .input-div.one{
	margin-top: 0;
}

.sign-up{
    font-size: 20px !important;
    transition: .5s;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #ffc7a0;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #60CCFF;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.sign-in a {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #60CCFF;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #60CCFF, #65abfF, #60CCFF);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


/* Navigation  */

nav {
    display: flex;
    padding: 3px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo {
    font-family: Poppins;
    font-weight: bold;
    color: #ffc7a0;
    font-size: 3.5rem;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    justify-content: center;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 5px;
    color: black;
}

/* Main */

.main {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Montserrat';
}

.main h1, .main h2{
    text-align: center;
}

.main h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container a{
    margin: 10px 20px 0px 20px;
}


