<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aryans Ecommerce Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> -->
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <h1 class="logo"><a href="/" class="logo">AJ</a></h1>
            <ul>
                <li><a href="/login"><i class="fas fa-user"></i> {{ placeholder }}</a></li>
                <li><a href="/checkout"><i class="fas fa-shopping-cart"></i> Cart</a> <span class="cart-num">{{ number }}</span> </li>
            </ul>
        </nav>
        <section class="main">
            <h1>Welcome to Aryan's Ecommerce Site.</h1>
            <h2>What would you like to do?</h2>
            <div class="container">
                <a name="/add" href="/add">Add a Product</a>
                <a name ="/buy" href="/buy">Buy Products</a>
            </div>
        </section>
    </div>

    {% for message in get_flashed_messages() %}
        <p class="flash" style="display: none;" onload="a();">{{message}}</p>
    {% endfor %}

    <!-- Tried to Create A Sign In Modal, But Decided it would be better just to put it on a differetn page -->


    <!-- <div class="sign-in">
        <form action="">
            <a href="#" class="x" onclick="show()"><i class="fas fa-times"></i></a>
            <h2 class="title">Sign In</h2>
               <div class="input-div one">
                  <div class="i">
                          <i class="fas fa-user"></i>
                  </div>
                  <div class="div">
                          <h5>Username</h5>
                          <input type="text" class="input">
                  </div>
               </div>
               <div class="input-div pass">
                  <div class="i"> 
                       <i class="fas fa-lock"></i>
                  </div>
                  <div class="div">
                       <h5>Password</h5>
                       <input type="password" class="input">
               </div>
            </div>
            <a class="sign-up" href="#">Sign Up</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div> -->




    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script> -->
    <script type="text/javascript" src="/static/js/form.js"></script>
    <script>
        function show() {
            var modal = document.querySelector(".sign-in");
            modal.classList.toggle("active");
            var bg = document.querySelector(".wrapper");
            bg.classList.toggle("blur");
        }

        function a() {
            var object = document.querySelector(".flash");
            alert(object.textContent);
        }
    </script>


</body>
</html>


